<h1><%=@user.name%>'s notes</h1>
<section class="notes">
    <%@user.notes.each do |note|%>
        <article class="note">
            <h2><%=note.cat%></h2>
            <p><%=note.text%></p>
        </article>
    <%end%>
    <%=link_to new_user_note_url(@user) do%>
        <article class="note" style="border:dashed 0.15rem black;display:flex;align-items:center;justify-content:center;">
            <span style="font-size: 8rem;">+</span>
        </article>
    <%end%>
</section>
<%=link_to "logout", logout_path%>