<!DOCTYPE html>
<html>
  <head>
    <title>RailsNotes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="max-width: 50%;margin:auto;">
    <h1>Uotes</h1>
    <hr />
    <%= yield %>
  </body>
</html>
